<div class="modal fade" id="editor-modal" tabindex="-1" role="dialog" aria-labelledby="editor-title">
	<style scoped>
		/* provides a red astrix to denote required fields - this should be included in common stylesheet */
		.form-group.required .control-label:after {
			content:"*";
			color:red;
			margin-left: 4px;
		}
	</style>
	<div class="modal-dialog modal-content" role="document">

		<div class="modal-header">
			<h4 class="modal-title" id="editor-title">Add Row</h4>
		</div>

		<div class="modal-body ">
			{{ form_start(form) }}
			
			{{ form_widget(form) }}
				
		</div>

		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">Save changes</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		</div>

			{{ form_end(form) }}	
	</div>
</div>


