{% extends 'home/index.twig' %}
{% block content %}
{% import 'generate/hpanel.twig' as hpanel %}

{% set header %}
	<div class="row">
		<div class="col-md-9">
			<h1>Repository</h1>
		</div>
		<div class="col-md-3">
			<button type="button" class="btn-lg btn-success footable-add pull-right">New row</button>
		</div>
	</div>
{% endset %}

{% set crud_table %}
	{{ table|raw }}
{% endset %}

{{ hpanel.hpanel(header, crud_table, '') }}
{% include 'crud/form.twig' %}

{% endblock %}