{% extends 'master.twig' %}
{% block body %}

<style type="text/css">
    body {
        background-color: #7700EE;
    }
</style>

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <img width="420"src="{{assetUrl}}/images/cvsu-logo.png">
            </div>
            <div class="hpanel">
                {% if flash.message %}
                <div class="alert alert-danger alert-dismissable" style="margin-top: 25px">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ flash.message }}
                </div>
                {% endif %}
                <div class="panel-body">
                        <form action="{{path_for('authentication')}}" method="POST" id="loginForm">
                            <div class="form-group">
                                <label class="control-label" for="username">Username</label>
                                <input type="text" placeholder="example@gmail.com" title="Please enter your username" required="" value="" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password</label>
                                <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success btn-block login-btn">LOGIN</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            2015 Copyright Company Name
        </div>
    </div>
</div>

{% endblock %}