{% extends 'home/index.twig' %}
{% block content %}

	{% import 'generate/hpanel.twig' as make_hpanel %}
	

    {% set step3_tab %}
        <div id="step3" class="p-m tab-pane">
            <div class="row">
                <div class="col-md-4">
                    <table id="user_confirm_table" class="table table-hover" data-id="{{ user_info.id }}" data-model="user">
                        <tr class="table-row">
                            <td class="font-extra-bold">Last Name: </td>
                            <td id="confirm-user_last_name"></td>
                        </tr>
                        <tr class="table-row">
                            <td class="font-extra-bold">First Name: </td>
                            <td id="confirm-user_first_name"></td>
                        </tr>
                        <tr class="table-row">
                            <td class="font-extra-bold">Middle Name: </td>
                            <td id="confirm-user_middle_name"></td>
                        </tr>
                        <tr class="table-row">
                            <td class="font-extra-bold"> Birthday: </td>
                            <td class="" id="confirm-user_birthdate"></td>
                        </tr>
                        <tr class="table-row">
                            <td class="font-extra-bold"> Sex: </td>
                            <td class="" id="confirm-user_sex">   </td>
                        </tr>
                        <tr class="table-row">
                            <td class="font-extra-bold"> Blood Type: </td>
                            <td class="" id="confirm-user_bloodtype"></td>
                        </tr>
                        <tr class="table-row">
                            <td class="font-extra-bold"> Generated Username: </td>
                            <td class="" id="confirm-user_username"></td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-4">
                    <table class="table table-hover ">
                        <tr class="table-row">
                            <td class="font-extra-bold"> Degree: </td>
                            <td class="" id="confirm-student_degree_id"></td>
                        </tr>
                        <tr class="table-row">
                            <td class="font-extra-bold"> Year: </td>
                            <td class="" id="confirm-student_year_level"></td>
                        </tr>
                        <tr class="table-row">
                            <td class="font-extra-bold"> Section: </td>
                            <td class="" id="confirm-student_section"></td>
                        </tr>
                        <tr class="table-row">
                            <td class="font-extra-bold"> Date of Enrolment: </td>
                            <td class="" id="confirm-student_date_of_enrollment"></td>
                        </tr>
                        <tr class="table-row">
                            <td class="font-extra-bold"> Last School Attended: </td>
                            <td class="" id="confirm-student_last_school_attended"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    {% endset %}

{% endblock %} 

