<div id="employee_profile" data-model="employee">
	<div class="row hbuilt">
		<div class="col-md-10">
			<h4>Employee ID No. {{ employee_info.employee_number }}</h4>
		</div>
		<div class="col-md-2">
			<a data-model="employee" data-id="{{ employee_info.id }}" data-modal="#employee-modal" data-action="{{ pageUrl ~ "/employeeinfo" }}" data-method="PUT" class="btn btn-xs btn-primary row-edit-button pull-right" href="#"> <i class="fa fa-edit fa-fw"></i>Edit </a>
		</div>
	</div>

	<table class="table table-hover ">
		<tr class="table-row">
			<td class="font-extra-bold">Employee Name: </td>
			<td>
				{% if user_info.middle_name == '' %} 
					{{ [
					user_info.last_name ~ ',', 
					user_info.first_name]|join(" ") }}
				{% else %}
					{{ [
					user_info.last_name ~ ',', 
					user_info.first_name, 
					(user_info.middle_name|first ~ '.')]|join(" ") }}
				{% endif %}
			</td>
		</tr>
		<tr class="table-row">
			<td class="font-extra-bold"> Department: </td>
			<td class=""> {{ employee_info.department }} </td>
		</tr>
		<tr class="table-row">
			<td class="font-extra-bold"> Position: </td>
			<td class=""> {{ employee_info.position }}  </td>
		</tr>
		<tr class="table-row">
			<td class="font-extra-bold"> Status: </td>
			<td class=""> {{ employee_info.status }} </td>
		</tr>
		<tr class="table-row">
			<td class="font-extra-bold"> Educational Background: </td>
			<td class=""> {{ employee_info.degrees_earned }}</td>
		</tr>
	</table>
</div>

