{% extends 'home/index.twig' %}
{% block content %}

{% import 'generate/hpanel.twig' as make_hpanel %}

{% set student_profile_tab_content %}
	{% include 'profile/student_profile.twig' %}
{% endset %}

{% set employee_profile_tab_content %}
	{% include 'profile/employee_profile.twig' %}
{% endset %}

{% set user_profile_content %}
	{% include 'profile/user_profile.twig' %}
{% endset %}

{# -== User Tabs ==- #}
{% set profile_tab = {
	'id' : 'student-profile-tab',
	'content' : student_profile_tab_content,
	'label' : 'Profile'
} %}

{% set checklist_tab = {
	'id' : 'student-checklist-tab',
	'content' : hue,
	'label' : 'Checklist'
} %}

{% set current_courses_tab = {
	'id' : 'student-current-courses-tab',
	'content' : hue,
	'label' : 'Courses enrolled this Semester'
} %}

{# -== Header of User Panel ==- #}
{% set user_info_header %}
<div class="row hbuilt">
	<div class="col-md-10">
		<h5 class="font-extra-bold">Personal Info</h5>
	</div>
	<div class="col-md-2">
		<a data-model="user" data-id="{{ user_info.id }}" data-modal="#user-modal" data-form="#user-form-data" data-action="{{ pageUrl ~ "/userinfo" }}" data-method="PUT" class="btn btn-xs btn-primary row-edit-button pull-right" href="#"> <i class="fa fa-edit fa-fw"></i>Edit </a>
	</div>
</div>
{% endset %}

{# -== Header of Additional Info ==- #}
{% set additional_info_header %}
<div class="row hbuilt">
	<div class="col-md-9">
		<h5 class="font-extra-bold">Additional Info</h5>
	</div>
	<div class="col-md-3">
		<button class="btn btn-xs btn-primary dropdown-toggle pull-right" data-toggle="dropdown" type="button">More <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#" class="row-edit-button" data-modal="#user_auth-modal" data-form="#user_auth-form-data"
                	data-action="{{ "/records/users/" }}" data-method="PUT">Edit Login Credentials</a></li>
            </ul>
	</div>
</div>
{% endset %}

{% set student_hpanel_tabs = [profile_tab, checklist_tab, current_courses_tab] %}

{% set profile_student_tab %}
	{{ make_hpanel.hpanel_tabs(student_hpanel_tabs) }}
{% endset %}

{# -== Content with Panels ==- #}

<div class="row">
	<div class="col-md-4">
		{{ make_hpanel.hpanel(user_info_header, user_profile_content, '', '')}}
	</div>
	<div class="col-md-8">
		{% if user_type == "student" %}
			{% set additional_info %}
				{{ make_hpanel.hpanel_tabs(student_hpanel_tabs) }}
			{% endset %}
		{% elseif user_type == "employee" %}
			{% set additional_info %}
				{{ employee_profile_tab_content }}
			{% endset %}
		{% else %}
			{% set additional_info = "No additional info available" %}
		{% endif %}
		{{ make_hpanel.hpanel(additional_info_header, additional_info, '', '')}}
	</div>
</div>





{% endblock %}
