
<div id="student-profile" data-model="student">
	<div class="row hbuilt">
		<div class="col-md-10">
			<h4 id="profile-student_student_number">Student No. {{ additional_info.student_number }}</h4>
		</div>
		<div class="col-md-2">
			<a data-model="student" data-id="{{ additional_info.id }}" data-form="#student-form-data" data-modal="#student-modal" data-action="{{ pageUrl ~ "/studentinfo" }}" data-method="PUT" class="btn btn-xs btn-primary row-edit-button pull-right" href="#"> <i class="fa fa-edit fa-fw"></i>Edit </a>
		</div>
	</div>

	<table class="table table-hover ">
		<tr class="table-row">
			<td class="font-extra-bold">Student Name: </td>
			<td>  
				{% if user_info.middle_name == '' %} 
					{{ [
					user_info.last_name ~ ',', 
					user_info.first_name]|join(" ") }}
				{% else %}
					{{ [
					user_info.last_name ~ ',', 
					user_info.first_name, 
					(user_info.middle_name|first ~ '.')]|join(" ") }}
				{% endif %}
			</td>
		</tr>
		<tr class="table-row">
			<td class="font-extra-bold"> Degree: </td>
			<td class="" id="profile-student_degree_name_code"> {{ additional_info.degree_name_code }} </td>
		</tr>
		<tr class="table-row">
			<td class="font-extra-bold"> Year: </td>
			<td class="" id="profile-student_year_level"> {{ additional_info.year_level }} </td>
		</tr>
		<tr class="table-row">
			<td class="font-extra-bold"> Section: </td>
			<td class="" id="profile-student_section"> {{ additional_info.section }}  </td>
		</tr>
		<tr class="table-row">
			<td class="font-extra-bold"> Status: </td>
			<td class="" id="profile-student_status"> {{ additional_info.status }} </td>
		</tr>
		<tr class="table-row">
			<td class="font-extra-bold"> Date of Enrolment: </td>
			<td class="" id="profile-student_date_of_enrollment"> {{ additional_info.date_of_enrollment }}</td>
		</tr>
		<tr class="table-row">
			<td class="font-extra-bold"> Last School Attended: </td>
			<td class="" id="profile-student_last_school_attended"> {{ additional_info.last_school_attended }}</td>
		</tr>
	</table>

</div>

