<!-- User Profile Panel Content -->
<div id="user-profile" data-model="user">
	<div class="row hbuilt">
		<div class="col-md-10">
			<h4 id="profile-user_full_name" data-id="{{ user_info.id }}">
				{{ user_info.full_name }}
			</h4>
		</div>

	</div>

	<table id="user_profile_table" class="table table-hover" data-id="{{ user_info.id }}" data-model="user">
		<tr class="table-row">
			<td class="font-extra-bold">Last Name: </td>
			<td id="profile-user_last_name">{{ user_info.last_name }}</td>
		</tr>
		<tr class="table-row">
			<td class="font-extra-bold">First Name: </td>
			<td id="profile-user_first_name">{{ user_info.first_name }}</td>
		</tr>
		<tr class="table-row">
			<td class="font-extra-bold">Middle Name: </td>
			<td id="profile-user_middle_name">{{ user_info.middle_name }}</td>
		</tr>
		<tr class="table-row">
			<td class="font-extra-bold"> Birthday: </td>
			<td class="" id="profile-user_birthdate"> {{ user_info.birthdate }} </td>
		</tr>
		<tr class="table-row">
			<td class="font-extra-bold"> Blood Type: </td>
			<td class="" id="profile-user_bloodtype"> {{ user_info.bloodtype }} </td>
		</tr>
		<tr class="table-row">
			<td class="font-extra-bold"> Sex: </td>
			<td class="" id="profile-user_sex"> {{ user_info.sex }}  </td>
		</tr>
	</table>
</div>


